/* .Card{
    margin-top: 100%;
} */
.h2-price{
    color: rgb(255, 0, 55);
  }
.imageCard{
    display: block;
    width: 100%;
    cursor: pointer;
}

.card-Header{
    cursor: pointer;
    color: black;
}
.card-descript{
    color: rgb(61, 60, 60);
}
.comment-p{
    transition: transform .5s ease-out;
}

.comment-p:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
    color: rgb(255, 0, 55);
    z-index: 10 !important; 
  
} 

