.Footer {
    position: absolute;
    bottom: 0px !important;
    width: 100%;
    height: 35px;
    background-color: rgb(179, 177, 177);
    text-align: center;

    /* padding: 20px; */
  }
  .Footer-content{
      padding-top: 10px;
      
  }