.gridLogin{
    margin-top: 44px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.h1-login{
    text-align: center;
}

.msg-login{
    text-align: center;
    }
