/* .grid{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr; 
     row-gap: 15px;
    column-gap: 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
} */
/* .grid-column{
     padding: auto; 
     margin-bottom: 10px; 
} */
.sort-div{
    text-align: right;
}
/* .grid-product{
    margin-left: 0px !important;
}
.grid-row-product{
    margin-left: 0px !important;
} */