.image-profile{
    width: 20% !important;
    height: 20% !important;
    margin-bottom: 10px !important;
    /* border-radius: 10px !important; */
    border-width: 10px !important;
    box-shadow: red;
    cursor: pointer;
}
.icon-edit{
    cursor: pointer;
}
.image-profile {
  transition: filter 0.5s ease;
  /* transition: color 0.5s ease-out; */
  /* z-index: 1; */
}
.image-profile:hover {
  -ms-filter: blur(4px); /* IE 9 */
  -webkit-filter: blur(4px); /* Safari 3-8 */
  filter: blur(4px);
 
  z-index: 1;
}