.row-detail{
    display: flex;
    justify-content: center;
    /* align-items:; */
    grid-template-columns: 1fr 1fr ; 
    margin-left: 0;
    margin-right: 0;
    /* max-width: 800px; */
    row-gap: 15px;
    column-gap: 15px;
    padding: 30px;
}
.col-detail{
    align-items: center;
    justify-content: center;
}
/* .container{
    margin-top: 44px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
} */
