.vdo-wrapper {
    /* background-color: #dbdbdb; */
    box-sizing: border-box;
    height: 100%;
    /* width: 100%; */
    /* margin: auto; */
    overflow: hidden;
    /* display: flex; */
  }
  
  .vdo-scroll {
    box-sizing: border-box;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .vdo {
    /* background-color: #dbdbdb; */
    display: flex;
    box-sizing: border-box;
    width: max-content;
    height:100%;
    padding: 0px 20px;
    
    align-items: baseline;
  }
  
  .item-vdo {
    box-sizing: border-box;
    height: 100%;
    padding: 16px 20px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    /* z-index: 10 !important; */

  }
  
  .image-vdo {
    /* display: block; */
    height: 100%; 
   
  
  }